.hotel-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  height: 150px;
}

.hotel-image {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.hotel-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotel-details h2 {
  margin: 0 0 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotel-details h2:nth-of-type(2) {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.hotel-details p {
  margin: 0;
  font-size: 12px;
}
